* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 65px;
}

nav ul:nth-child(1) select {
    border: none;
    font-family: sans-serif;
    font-weight: 700;
}

.nav {
    width: 95%;
    height: 197px;
    background: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
}

.nav h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 300px;
}

.nav img {
    width: 350px;
    margin-top: -23px;
}

.h {
    width: 69px;
    height: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    color: hsla(0, 0%, 51%, 1);
    margin-left: 50px;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

section .sect-one {
    width: 350px;
    height: 407px;
    box-shadow: 0px 0px 20px 0px hsla(0, 0%, 0%, 0.1);
    border-radius: 30px;
    text-align: center;
    padding: 25px;
}

section .sect-one h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 100%;
    color: hsla(240, 16%, 13%, 1);
    margin-top: 20px;
}

.p {
    width: 69px;
    height: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    color: hsla(0, 0%, 51%, 1);
    margin-left: 50px;
    margin-top: 30px;
}

.main {
    width: 100%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.main .main-one {
    width: 350px;
    height: 407px;
    box-shadow: 0px 0px 20px 0px hsla(0, 0%, 0%, 0.1);
    border-radius: 30px;
}

.main .main-one .img {
    padding: 15px 22px;
}

.main .main-one .bosh {
    text-align: center;
    margin-top: -10px;
}

.main .main-one .bosh .one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.main .main-one .bosh .one h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 100%;
}

.main .main-one .bosh .one h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 100%;
    color: hsla(31, 100%, 63%, 1);
}

.main .main-one .yulduz {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: -10px;
}

.h1 {
    width: 300px;
    height: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    color: hsla(0, 0%, 51%, 1);
    margin-left: 50px;
    margin-top: 50px;
}

article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
    width: 1110px;
    height: 149px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px hsla(0, 0%, 0%, 0.1);
}
article .article-two h3{
    padding: 6px;
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 17px;
line-height: 100%;
color: hsla(0, 0%, 0%, 1);
}
article .article-three h3{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 17px;
line-height: 100%;
}
article .article-three h4{
    padding: 10px;
    font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 15px;
line-height: 100%;
}
article .article-four img{
    padding: 8px;
}